body {
   font-family: open sans;
   color: #333333;
   max-width: 650px;
   margin: 0 auto;
   padding: 0 1rem;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
.main-content {
   flex-grow: 1;
}
header{
   margin-top: 1rem;
   margin-bottom: 3rem;
}
header a {
   color: #888888;
   text-decoration: none;
   margin-right: 1rem;
}
header a:hover {
   color: #333333;
}
h1 {
   font-size: 4rem;
   margin-bottom: 1rem;
}
.profile {
   width: 250px;
}
footer {
   color: #888888;
   border-top: 1px solid #eeeeee;
   margin-top: 1rem;
   padding: 1rem 0;
}

input {
   border: 1px solid #888888;
   padding: .5rem;
}
input:focus {
   outline: none;
}

button{
   cursor: pointer;
   border: 1px solid #888888;
   background: #888888;
   color: white;
   padding: .5rem;
}
.fr{
   font-size: 2rem;
   font-weight: normal;
}