<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>About</title>
   <link rel="icon" href="/img/weather.png">
   <link rel="stylesheet" href="/css/style.css">

</head>
<body>
   <div class="main-content">
      {{!-- Header --}}
      {{>header}}
      <img class="profile" src="/img/profile.jpg" alt="">
   </div>

   {{!-- Footer --}}
   {{>footer}}
</body>
</html>